body{
    background:#0f0f0f;
    color:white;
    font-family: "Segoe UI", sans-serif;
}

.gold{
    color:#d4af37;
}

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
}

.predict-card{
    background:#1b1b1b;
    border:1px solid #d4af37;
    border-radius:20px;
    padding:30px;
    box-shadow:0 0 25px rgba(212,175,55,.2);
}

.form-control,
.form-select{
    background:#222;
    color:white;
    border:1px solid #444;
}

.form-control:focus,
.form-select:focus{
    border-color:#d4af37;
    box-shadow:none;
}

.btn-gold{
    background:#d4af37;
    color:black;
    font-weight:bold;
    border:none;
}

.btn-gold:hover{
    background:#e6c65a;
}

.result-box{
    background:#151515;
    border-radius:20px;
    padding:30px;
    text-align:center;
    margin-top:30px;
}

.price{
    font-size:60px;
    color:#d4af37;
    font-weight:bold;
}
.site-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 0;
    border-bottom:1px solid rgba(212,175,55,.25);
}

.logo{
    font-size:28px;
    font-weight:800;
    letter-spacing:1px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:30px;
    font-weight:500;
}

.nav-links a:hover{
    color:#d4af37;
}