body{
    background:#0f0f0f;
    color:white;
    font-family: "Segoe UI", sans-serif;
}

.gold{
    color:#d4af37;
}

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
}

.predict-card{
    background:#1b1b1b;
    border:1px solid #d4af37;
    border-radius:20px;
    padding:30px;
    box-shadow:0 0 25px rgba(212,175,55,.2);
}

.form-control,
.form-select{
    background:#222;
    color:white;
    border:1px solid #444;
}

.form-control:focus,
.form-select:focus{
    border-color:#d4af37;
    box-shadow:none;
}

.btn-gold{
    background:#d4af37;
    color:black;
    font-weight:bold;
    border:none;
}

.btn-gold:hover{
    background:#e6c65a;
}

.result-box{
    background:#151515;
    border-radius:20px;
    padding:30px;
    text-align:center;
    margin-top:30px;
}

.price{
    font-size:60px;
    color:#d4af37;
    font-weight:bold;
}
.site-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 0;
    border-bottom:1px solid rgba(212,175,55,.25);
}

.logo{
    font-size:28px;
    font-weight:800;
    letter-spacing:1px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:30px;
    font-weight:500;
}

.nav-links a:hover{
    color:#d4af37;
}

.hero-home{
    min-height:80vh;
    display:flex;
    align-items:center;
}

.hero-title{
    font-size:65px;
    font-weight:700;
    line-height:1.1;
}

.hero-text{
    font-size:24px;
    color:#cccccc;
    margin-top:25px;
    margin-bottom:35px;
}

.hero-car{
    max-height:600px;
}

.stats-section{
    margin-top:50px;
    margin-bottom:80px;
}

.stat-card{
    background:#171717;
    border:1px solid rgba(212,175,55,.25);
    border-radius:20px;
    padding:30px;
    height:100%;
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 25px rgba(212,175,55,.15);
}

.stat-card h2{
    font-size:48px;
    font-weight:700;
}

.stat-card p{
    color:#cccccc;
    margin-top:10px;
}
.about-section{
    margin-top:80px;
    margin-bottom:100px;
}

.about-section p{
    font-size:18px;
    line-height:1.8;
    color:#dddddd;
}

.about-image-box{
    border:1px solid rgba(212,175,55,.35);
    border-radius:25px;
    padding:25px;
    background:#111;
}
.footer{
    border-top:1px solid rgba(212,175,55,.25);
    padding:30px 0;
    text-align:center;
    color:#aaaaaa;
}